---
import Card from "@/components/Card.astro";
import "@/styles/global.css";
const res = await fetch("http://localhost:3030/api/pokemon");
const data = await res.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pokedot</title>
  </head>
  <body>
    <h1>Pokemon List</h1>
    <div class="grid gap-2 grid-cols-4">
      {Array.from({ length: 4 }).map(() => <Card />)}
    </div>
  </body>
</html>
