---
import { Image } from "astro:assets";
interface Props {
  name: string;
  // types: string[];
  // abilities: string[];
  // base_experience: number;
  // height: number;
  // weight: number;
}

const { name } = Astro.props;
---

<div
  class="bg-black text-white p-4 space-y-4 shadow-xl w-50 rounded-md flex flex-col"
>
  <div class="flex items-center justify-center">
    <Image
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/132.png"
      alt={`${name} pokemon`}
      width={160}
      height={160}
      loading="eager"
      class="object-contain"
    />
  </div>

  <h1 class="text-xl font-black text-white text-center">{name}</h1>

  <!-- Details section -->
  <div class="grid grid-cols-2 gap-2 text-xs font-semibold">
    <div>
      <div class="text-gray-500 uppercase text-[10px]">Type</div>
      <div
        class="text-sm uppercase font-bold border border-black bg-red-500 rounded-xl text-center"
      >
        Fire
      </div>
    </div>

    <div>
      <div class="text-gray-500 uppercase text-[10px]">Ability</div>
      <div class="text-sm font-bold uppercase">Burst</div>
    </div>

    <div class="col-span-2">
      <div class="text-gray-500 uppercase text-[10px]">Base EXP</div>
      <div class="text-sm font-bold">400</div>
    </div>
  </div>
</div>
